<section id="shopify-section-{{ section.id }}" class="shopify-section featured-collection-list">
  <div class="container">
    <div class="collection__list">
      {% for block in section.blocks %}
        <div class="collection-list__item">
          <a class="collection__link" href="{{ block.settings.featured_collection.url }}">
            <h2 class="collection__title">{{ block.settings.featured_collection.title }}</h2>
          </a>
        </div>
      {% endfor %}
    </div>
    <h3 class="collection-list__subtitle">
      {{ section.settings.subtitle }}
    </h3>
  </div>
</section>

{% schema %}
{
  "name": "Featured Collection List",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "It’s only blue skies and comfortable styles in our latest batch of new arrivals."
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "limit": 4,
      "settings": [
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection List"
    }
  ],
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}

{% stylesheet %}
  .shopify-section.featured-collection-list {
    padding: 50px 0;
  }

  .shopify-section.featured-collection-list .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shopify-section.featured-collection-list .collection__list {
    max-width: 500px;
    margin: 0 auto;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .shopify-section.featured-collection-list .collection-list__item {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shopify-section.featured-collection-list .container .collection__link {
    text-decoration: none;
  }

  .shopify-section.featured-collection-list .container .collection__title {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .shopify-section.featured-collection-list .collection-list__subtitle {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }

  /* Responsive styles */

  @media (max-width: 768px) {
    .shopify-section.featured-collection-list .collection__list {
      grid-template-columns: 1fr 1fr;
    }

    .shopify-section.featured-collection-list .collection-list__subtitle {
      padding: 0 20px;
    }
  }
{% endstylesheet %}
