header {
  background-color: var(--header-background-color);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* mobile menu */
.mobile-menu-icon-section {
  display: none;
}

/* logo section */

/* menu section */

.main-nav-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  min-width: 300px;
}

.main-nav-menu ul li {
  list-style: none;
  margin: 0 10px;
}

.main-nav-menu ul li a {
  font-family: var(--navigation-font);
  font-size: var(--navigation-font-size);
  color: var(--navigation-text-color);
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav-menu ul:hover li a {
  color: var(--navigation-text-hover-color);
}

.main-nav-menu ul li a:hover {
  color: var(--navigation-text-color);
}

.main-nav-menu-link-sale {
  color: var(--navigation-accent-color) !important;
}

/* Menu icons section */

.menu-icons-section a {
  text-decoration: none;
  color: #001a43;
}

/* responsive styles */

@media (max-width: 600px) {
  .shop-logo-section img {
    width: 100px;
  }

  .mobile-menu-icon-section {
    display: block;
    cursor: pointer;
  }

  .user-icon {
    display: none;
  }

  .main-nav-menu-section {
    display: none;
  }
}
