.rotating-announcement {
  width: 100%;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  font-family: var(--body-font);
  overflow: hidden;
}

.announcement {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 600px) {
  .rotating-announcement {
    padding: 3px 0;
    font-size: 9px;
  }

  .announcement {
    max-width: 100%;
    padding: 5px 10px;
  }
}
